<div class="showcase">
  <div class="container">
    <div class="showcase__inner">
      <div class="showcase__slider swiper">
        <div class="showcase__items swiper-wrapper">
          <div class="showcase__item swiper-slide">
            <div class="showcase__img">
              <img src="images/show-1.png" alt="">

              <img src="images/show-1-mob.png" class="mobile" alt="">

            </div>

            <div class="showcase__info">
              <div class="showcase__head">
                <h3 class="showcase__title">
                  Официальный дилер имплантов и материалов для имплантации
                </h3>

                <div class="showcase__icon">
                  <img src="images/showcase-ic.svg" alt="" />
                </div>
              </div>
              <div class="showcase__foot">
                <div class="showcase__text">
                  Straumann® — это флагманский бренд крупнейшей в мире группы
                  производителей имплантатов, Straumann Group. СДС Трейд
                  представляет продукцию легендарного бренда на территории
                  Санкт-Петербурга и Ленинградской области
                </div>

                <a href="#" class="showcase__btn btn btn-white"
                  >Связаться с нами</a
                >
              </div>
            </div>
          </div>
          <div class="showcase__item swiper-slide">
            <div class="showcase__img">
              <img src="images/show-2.png" alt="">
              <img src="images/show-2-mob.png" class="mobile" alt="">

            </div>

            <div class="showcase__info">
              <div class="showcase__head">
                <h3 class="showcase__title">
                  Официальный дилер имплантов и материалов для имплантации
                </h3>

                <div class="showcase__icon">
                  <img src="images/showcase-ic-1.svg" alt="" />
                </div>
              </div>
              <div class="showcase__foot">
                <div class="showcase__text">
                  MEDENTiKA — имплантационная система, созданная благодаря
                  страсти к скорости, точности и командной работе! СДС Трейд
                  представляет продукцию немецкого бренда на территории
                  Санкт-Петербурга и Ленинградской области
                </div>

                <a href="#" class="showcase__btn btn btn-white"
                  >Связаться с нами</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>
