<div class="feedback">
  <div class="container">
    <div class="feedback__inner">
      <div class="feedback__img">
        <img src="images/bg-img.png" alt="">

        <img src="images/bg-img-mobile.png" class="mobile" alt="">
      </div>
      <h3 class="feedback__title title">
        Поможем подобрать <span>лучшее</span> решение
      </h3>

      <div class="feedback__text">
        Оставьте контакты, и наш менеджер свяжется с Вами в ближайшее время
      </div>

      <div class="feedback__form">
        <form action="#">
          <div class="feedback__fields">
            <label class="field">
              <input type="text" placeholder="Имя*" />
            </label>
            <label class="field">
              <input
                type="text"
                placeholder="+7 (999) 999-99-99*"
                class="mask"
              />
            </label>
            <label class="field">
              <input type="text" placeholder="E-mail" />
            </label>
            <button type="submit" class="feedback__btn btn btn-green">
             <span> Оставить заявку</span>
            </button>
          </div>
          <label class="checkbox">
            <span class="checkbox__inner">
              <input type="checkbox" />
              <span></span>
            </span>
            <span class="checkbox__text"
              >Я даю свое согласие на обработку персональных данных, в
              соответствии с ФЗ от 27.07.2006 года №152-ФЗ «О персональных
              данных», в соответствии с
              <a href="#">Политикой конфиденциальности</a>
            </span>
          </label>
        </form>
      </div>
    </div>
  </div>
</div>
