<div class="prod">
  <div class="container">
    <div class="prod__inner">
      <h3 class="brands__title title">
        <span>Продукция</span> бренда Straumann
      </h3>

      <div class="prod__slider swiper">
        <div class="prod__items swiper-wrapper">
          <div class="prod__item swiper-slide">
            <div class="prod__head">
              <span>Имплантационные решения Straumann</span>

              <ul>
                <li>Имплантаты</li>
                <li>Формирователи десны</li>
                <li>Винты заглушки</li>
              </ul>
            </div>

            <div class="prod__img">
              <img src="images/pr-1.png" alt="">
            </div>
          </div>
          <div class="prod__item swiper-slide">
            <div class="prod__head">
              <span>Инструменты Straumann</span>

              <ul>
                <li>Наборы</li>
                <li>Сверла</li>
                <li>Боры</li>
              </ul>
            </div>

            <div class="prod__img">
              <img src="images/pr-2.png" alt="">
            </div>
          </div>
          <div class="prod__item swiper-slide">
            <div class="prod__head">
              <span>Ортопедические решения Straumann</span>

              <ul>
                <li>Аналоги и трансферы</li>
                <li>Абатменты временные</li>
                <li>Винты</li>
                <li>Премилы</li>
              </ul>
            </div>

            <div class="prod__img">
              <img src="images/pr-3.png" alt="">
            </div>
          </div>
        </div>

        <div class="swiper-pagination"></div>
      </div>


      <div class="prod__banner">

        <div class="prod__banner--info">
          <span>Полный перечень продукции Straumann доступен в каталоге</span>

          <a href="#" class="prod-banner__btn btn btn-green">

            <span>Скачать каталог</span>
          </a>
        </div>

        <div class="prod__banner--img">
          <img src="images/prod-banner.png" alt="">
        </div>
      </div>


    </div>
  </div>
</div>
