<div class="action">
  <div class="container">
    <div class="action__inner">
      <h3 class="brands__title title">Текущие <span>акции</span></h3>

      <div class="action__top">
        <div class="action__tabs">
          <span data-tab class="active">Straumann</span>
          <span data-tab>MEDENTiKA</span>
        </div>

        <div class="action__arrows">
          <div class="action__prev">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="17"
              height="11"
              viewBox="0 0 17 11"
              fill="none"
            >
              <path
                d="M16 5.16667H1M1 5.16667L5.16667 9.33333M1 5.16667L5.16667 1"
                stroke="#24272B"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>

          <div class="action__next">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="17"
              height="11"
              viewBox="0 0 17 11"
              fill="none"
            >
              <path
                d="M1 5.16667H16M16 5.16667L11.8333 1M16 5.16667L11.8333 9.33333"
                stroke="#24272B"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>

      <div class="action__aside">
        <div class="action__aside--item" data-tab-slider>
          <div class="action__slider swiper">
            <div class="action__items swiper-wrapper">
              <div class="action__item swiper-slide">
                <div class="action__info">
                  <div class="action__content">
                    <div class="action__head">
                      <span>iExcel 4+1</span>
                      <p>До 30 июня</p>
                    </div>

                    <div class="action__desc">
                      При покупке четырех имплантатов Straumann iEXCEL, вы
                      получите еще один в комплекте.
                    </div>
                  </div>

                  <div class="action__img">
                    <img src="images/action.png" alt="" />
                  </div>
                </div>
              </div>
              <div class="action__item swiper-slide">
                <div class="action__info">
                  <div class="action__content">
                    <div class="action__head">
                      <span>Straumann 5+1</span>
                      <p>До 30 июня</p>
                    </div>

                    <div class="action__desc">
                      При покупке пяти имплантатов Straumann SLA, в комплекте вы
                      получите имплантат Straumann SLActive или Straumann
                      iEXCEL.
                    </div>
                  </div>

                  <div class="action__img">
                    <img src="images/action-1.png" alt="" />
                  </div>
                </div>
              </div>
              <div class="action__item swiper-slide">
                <div class="action__info">
                  <div class="action__content">
                    <div class="action__head">
                      <span>iExcel 4+1</span>
                      <p>До 30 июня</p>
                    </div>

                    <div class="action__desc">
                      При покупке четырех имплантатов Straumann iEXCEL, вы
                      получите еще один в комплекте.
                    </div>
                  </div>

                  <div class="action__img">
                    <img src="images/action.png" alt="" />
                  </div>
                </div>
              </div>
              <div class="action__item swiper-slide">
                <div class="action__info">
                  <div class="action__content">
                    <div class="action__head">
                      <span>Straumann 5+1</span>
                      <p>До 30 июня</p>
                    </div>

                    <div class="action__desc">
                      При покупке пяти имплантатов Straumann SLA, в комплекте вы
                      получите имплантат Straumann SLActive или Straumann
                      iEXCEL.
                    </div>
                  </div>

                  <div class="action__img">
                    <img src="images/action-1.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
        <div class="action__aside--item" data-tab-slider>
          <div class="action__slider swiper">
            <div class="action__items swiper-wrapper">
              <div class="action__item swiper-slide">
                <div class="action__info">
                  <div class="action__content">
                    <div class="action__head">
                      <span>iExcel 4+1</span>
                      <p>До 30 июня</p>
                    </div>

                    <div class="action__desc">
                      При покупке четырех имплантатов Straumann iEXCEL, вы
                      получите еще один в комплекте.
                    </div>
                  </div>

                  <div class="action__img">
                    <img src="images/action.png" alt="" />
                  </div>
                </div>
              </div>
              <div class="action__item swiper-slide">
                <div class="action__info">
                  <div class="action__content">
                    <div class="action__head">
                      <span>Straumann 5+1</span>
                      <p>До 30 июня</p>
                    </div>

                    <div class="action__desc">
                      При покупке пяти имплантатов Straumann SLA, в комплекте вы
                      получите имплантат Straumann SLActive или Straumann
                      iEXCEL.
                    </div>
                  </div>

                  <div class="action__img">
                    <img src="images/action-1.png" alt="" />
                  </div>
                </div>
              </div>
              <div class="action__item swiper-slide">
                <div class="action__info">
                  <div class="action__content">
                    <div class="action__head">
                      <span>iExcel 4+1</span>
                      <p>До 30 июня</p>
                    </div>

                    <div class="action__desc">
                      При покупке четырех имплантатов Straumann iEXCEL, вы
                      получите еще один в комплекте.
                    </div>
                  </div>

                  <div class="action__img">
                    <img src="images/action.png" alt="" />
                  </div>
                </div>
              </div>
              <div class="action__item swiper-slide">
                <div class="action__info">
                  <div class="action__content">
                    <div class="action__head">
                      <span>Straumann 5+1</span>
                      <p>До 30 июня</p>
                    </div>

                    <div class="action__desc">
                      При покупке пяти имплантатов Straumann SLA, в комплекте вы
                      получите имплантат Straumann SLActive или Straumann
                      iEXCEL.
                    </div>
                  </div>

                  <div class="action__img">
                    <img src="images/action-1.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
