.course {
  margin-top: 100px;

  @media only screen and (max-width: 991px) {
    margin-top: 50px;
  }

  .brands__title {
    @media only screen and (max-width: 991px) {
      margin-bottom: 15px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__con {
    margin-bottom: 40px;

    @media only screen and (max-width: 991px) {
      margin-bottom: 20px;
      font-size: 14px;
    }
  }

  &__arrows {
    display: flex;
    align-items: center;
    gap: 20px;

    @media only screen and (max-width: 991px) {
      display: none;
    }
  }

  &__tabs {
    display: flex;
    align-items: center;
    gap: 20px;

    @media only screen and (max-width: 991px) {
      gap: 10px;
    }

    span {
      color: #3b5900;
      font-size: 16px;
      font-weight: 700;
      line-height: 100%;
      padding: 15px 20px;
      border-radius: 100px;
      background: #f4f7fb;
      cursor: pointer;
      transition: 300ms;

      @media only screen and (max-width: 991px) {
        font-size: 14px;
        padding: 12px 20px;
      }

      &.active {
        background: #bfdd73;
      }
    }
  }

  &__prev,
  &__next {
    display: flex;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #fff;
    background: #f4f7fb;
    width: 46px;
    height: 46px;
    justify-content: center;
    cursor: pointer;
    transition: 300ms;

    &:hover {
      background: #bfdd73;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  &__slider {
    @media only screen and (max-width: 991px) {
      padding-bottom: 40px;
    }
    .swiper-pagination {
      left: 0;
      bottom: 40px;
      align-items: center;
      padding-left: 40px;
      display: none;

      @media only screen and (max-width: 991px) {
        justify-content: center;
        padding-left: 0;
        bottom: 15px;
        display: flex;
      }

      &-bullet {
        opacity: 1;
        background: #bfdd73;
        border-radius: 100px;

        &-active {
          width: 40px;
        }
      }
    }
  }

  &__item {
    position: relative;
    border-radius: 20px;
    border: 1px solid #d8d8d8;
    background: #fff;
    padding: 15px;
    overflow: hidden;
    height: 100%;
  }

  &__btn {
    z-index: 1;
    position: relative;
  }

  &__content {
    min-height: 475px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    @media only screen and (max-width: 991px) {
      min-height: 420px;
    }
  }

  &__head {
    p {
      color: #3b5900;
      font-weight: 700;

      @media only screen and (max-width: 991px) {
        font-size: 14px;
      }
    }
  }

  &__desc {
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;

    @media only screen and (max-width: 991px) {
      font-size: 16px;
      margin-top: 5px;
    }

  }

  &__img {
    display: flex;
    position: absolute;
    align-items: center;
    bottom: 0;
    left: 0;
    height: 321px;
    bottom: 0;

    @media only screen and (max-width: 991px) {
      height: 275px;
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
