<div class="course">
  <div class="container">
    <div class="course__inner">
      <h3 class="brands__title title"><span>Авторские</span> курсы</h3>

      <div class="course__con">
        После приобретения продукции Straumann и MEDENTiKA вы можете пройти
        авторские курсы на базе СДС Клиник, чтобы отработать навыки работы с
        новым оборудованием
      </div>

      <div class="course__top">
        <div class="course__tabs">
          <span data-course class="active">Straumann</span>
          <span data-course>MEDENTiKA</span>
        </div>

        <div class="course__arrows">
          <div class="course__prev">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="17"
              height="11"
              viewBox="0 0 17 11"
              fill="none"
            >
              <path
                d="M16 5.16667H1M1 5.16667L5.16667 9.33333M1 5.16667L5.16667 1"
                stroke="#24272B"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>

          <div class="course__next">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="17"
              height="11"
              viewBox="0 0 17 11"
              fill="none"
            >
              <path
                d="M1 5.16667H16M16 5.16667L11.8333 1M16 5.16667L11.8333 9.33333"
                stroke="#24272B"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>

      <div class="course__aside">
        <div class="course__aside--item" data-tab-course>
          <div class="course__slider swiper">
            <div class="course__items swiper-wrapper">
              <div class="course__item swiper-slide">
                <div class="course__info">
                  <div class="course__content">
                    <div class="course__head">
                      <p>10.04.2026</p>
                      <div class="course__desc">
                        Демонстрационный курс с живой операцией
                      </div>
                    </div>
                    <a href="#modal-item" data-fancybox class="course__btn btn btn-green">
                      <span>Подробнее о курсе</span>
                    </a>
                  </div>

                  <div class="course__img">
                    <img src="images/course-1.png" alt="" />
                  </div>
                </div>
              </div>
              <div class="course__item swiper-slide">
                <div class="course__info">
                  <div class="course__content">
                    <div class="course__head">
                      <p>10.04.2026</p>
                      <div class="course__desc">
                        Демонстрационный курс с живой операциейКлинический Анализ Принципа Работы Имплантационной СистемыКлинический Анализ Принципа Работы Имплантационной Системы
                      </div>
                    </div>
                    <a href="#" class="course__btn btn btn-green">
                      <span>Подробнее о курсе</span>
                    </a>
                  </div>

                  <div class="course__img">
                    <img src="images/course-2.png" alt="" />
                  </div>
                </div>
              </div>
              <div class="course__item swiper-slide">
                <div class="course__info">
                  <div class="course__content">
                    <div class="course__head">
                      <p>10.04.2026</p>
                      <div class="course__desc">
                        Демонстрационный курс с живой операцией
                      </div>
                    </div>
                    <a href="#" class="course__btn btn btn-green">
                      <span>Подробнее о курсе</span>
                    </a>
                  </div>

                  <div class="course__img">
                    <img src="images/course-3.png" alt="" />
                  </div>
                </div>
              </div>
              <div class="course__item swiper-slide">
                <div class="course__info">
                  <div class="course__content">
                    <div class="course__head">
                      <p>10.04.2026</p>
                      <div class="course__desc">
                        Демонстрационный курс с живой операцией
                      </div>
                    </div>
                    <a href="#" class="course__btn btn btn-green">
                      <span>Подробнее о курсе</span>
                    </a>
                  </div>

                  <div class="course__img">
                    <img src="images/course-4.png" alt="" />
                  </div>
                </div>
              </div>
              <div class="course__item swiper-slide">
                <div class="course__info">
                  <div class="course__content">
                    <div class="course__head">
                      <p>10.04.2026</p>
                      <div class="course__desc">
                        Демонстрационный курс с живой операцией
                      </div>
                    </div>
                    <a href="#" class="course__btn btn btn-green">
                      <span>Подробнее о курсе</span>
                    </a>
                  </div>

                  <div class="course__img">
                    <img src="images/course-1.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
        <div class="course__aside--item" data-tab-course>
          <div class="course__slider swiper">
            <div class="course__items swiper-wrapper">
              <div class="course__item swiper-slide">
                <div class="course__info">
                  <div class="course__content">
                    <div class="course__head">
                      <p>10.04.2026</p>
                      <div class="course__desc">
                     Клинический Анализ Принципа Работы Имплантационной СистемыКлинический Анализ Принципа Работы Имплантационной СистемыКлинический Анализ Принципа Работы Имплантационной Системы
                      </div>
                    </div>
                    <a href="#" class="course__btn btn btn-green">
                      <span>Подробнее о курсе</span>
                    </a>
                  </div>

                  <div class="course__img">
                    <img src="images/course-1.png" alt="" />
                  </div>
                </div>
              </div>
              <div class="course__item swiper-slide">
                <div class="course__info">
                  <div class="course__content">
                    <div class="course__head">
                      <p>10.04.2026</p>
                      <div class="course__desc">
                        Демонстрационный курс с живой операцией
                      </div>
                    </div>
                    <a href="#" class="course__btn btn btn-green">
                      <span>Подробнее о курсе</span>
                    </a>
                  </div>

                  <div class="course__img">
                    <img src="images/course-2.png" alt="" />
                  </div>
                </div>
              </div>
              <div class="course__item swiper-slide">
                <div class="course__info">
                  <div class="course__content">
                    <div class="course__head">
                      <p>10.04.2026</p>
                      <div class="course__desc">
                        Демонстрационный курс с живой операцией
                      </div>
                    </div>
                    <a href="#" class="course__btn btn btn-green">
                      <span>Подробнее о курсе</span>
                    </a>
                  </div>

                  <div class="course__img">
                    <img src="images/course-3.png" alt="" />
                  </div>
                </div>
              </div>
              <div class="course__item swiper-slide">
                <div class="course__info">
                  <div class="course__content">
                    <div class="course__head">
                      <p>10.04.2026</p>
                      <div class="course__desc">
                        Демонстрационный курс с живой операцией
                      </div>
                    </div>
                    <a href="#" class="course__btn btn btn-green">
                      <span>Подробнее о курсе</span>
                    </a>
                  </div>

                  <div class="course__img">
                    <img src="images/course-4.png" alt="" />
                  </div>
                </div>
              </div>
              <div class="course__item swiper-slide">
                <div class="course__info">
                  <div class="course__content">
                    <div class="course__head">
                      <p>10.04.2026</p>
                      <div class="course__desc">
                        Демонстрационный курс с живой операцией
                      </div>
                    </div>
                    <a href="#" class="course__btn btn btn-green">
                      <span>Подробнее о курсе</span>
                    </a>
                  </div>

                  <div class="course__img">
                    <img src="images/course-1.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
